body
{
	background-color: rgb(150,191,203);
	margin:0;
	overflow:hidden;
}
#move{
	left: -200px;
}
#left-curtain
{
	position: absolute;
	width:430px;
	height:520px;
	z-index: 4;
	float: left;
	background-color: rgb(150,191,203);
}
#right-curtain
{
	position: absolute;
	height:520px;
	width:580px;
	left:960px;
	background-color: rgb(150,191,203);
	z-index: 4;
}
#main
{
	width:510px;
	height:520px;
	float:left;
}

#backcolor
{
	position:absolute;
	background-color: #0099CC;
	top:43px;
	left:-572px;
	width:510px;
	height:452px;
	z-index: 1;
}

#ground
{
	position: absolute;
	background-image: url(./mario-images/ground.gif);
	width:2000px;
	height:50px;
	top:445px;
	left:-972px;
	z-index: 2;
}
	
#wall1
{
	position: absolute;
	height:32px;
	top:330px;
	left:-874px;
	z-index: 3;
}

#wall2
{
	position: absolute;
	height:32px;
	top:280px;
	left:-420px;
	z-index: 3;
}
#wall3
{
	position: absolute;
	height:32px;
	top:250px;
	left:-180px;
	z-index: 3;
}
#wall4
{
	position: absolute;
	height:32px;
	top:250px;
	left:220px;
	z-index: 3;
}
#wall5
{
	position: absolute;
	height:32px;
	top:350px;
	left:520px;
	z-index: 3;
}
#wall6
{
	position: absolute;
	height:32px;
	top:250px;
	left:700px;
	z-index: 3;
}
#wall7
{
	position: absolute;
	height:32px;
	top:320px;
	left:120px;
	z-index: 3;
}
#hill1
{
	position: absolute;
	height:95px;
	top:349px;
	left:-972px;
	z-index: 2;
}
#hill2
{
	position: absolute;
	height:95px;
	top:413px;
	left:-772px;
	z-index: 2;
}
#hill3
{
	position: absolute;
	height:95px;
	top:413px;
	left:-472px;
	z-index: 2;
}
#hill4
{
	position: absolute;
	height:95px;
	top:382px;
	left:-172px;
	z-index: 2;
}
#hill5
{
	position: absolute;
	height:95px;
	top:349px;
	left:198px;
	z-index: 2;
}
#hill6
{
	position: absolute;
	height:95px;
	top:413px;
	left:328px;
	z-index: 2;
}
#hill7
{
	position: absolute;
	height:95px;
	top:382px;
	left:628px;
	z-index: 2;
}
#hill8
{
	position: absolute;
	height:95px;
	top:413px;
	left:728px;
	z-index: 2;
}
#hill9
{
	position: absolute;
	height:95px;
	top:413px;
	left:928px;
	z-index: 2;
}
#hill10
{
	position: absolute;
	height:95px;
	top:413px;
	left:1128px;
	z-index: 2;
}
#hill11
{
	position: absolute;
	height:95px;
	top:349px;
	left:1228px;
	z-index: 2;
}
#hill12
{
	position: absolute;
	height:95px;
	top:413px;
	left:1428px;
	z-index: 2;
}
#hill13
{
	position: absolute;
	height:95px;
	top:382px;
	left:1628px;
	z-index: 2;
}
#hill14
{
	position: absolute;
	height:95px;
	top:413px;
	left:1828px;
	z-index: 2;
}
#hill15
{
	position: absolute;
	height:95px;
	top:349px;
	left:1928px;
	z-index: 2;
}
#hill16
{
	position: absolute;
	height:95px;
	top:413px;
	left:2128px;
	z-index: 2;
}

#cloud1
{
	position: absolute;
	height:105px;
	top:120px;
	left:-672px;
	z-index: 2;
}
#cloud2
{
	position: absolute;
	height:105px;
	top:100px;
	left:-172px;
	z-index: 2;
}
#cloud3
{
	position: absolute;
	height:105px;
	top:90px;
	left:-472px;
	z-index: 2;
}
#cloud4
{
	position: absolute;
	height:105px;
	top:90px;
	left:178px;
	z-index: 2;
}
#cloud5
{
	position: absolute;
	height:105px;
	top:80px;
	left:328px;
	z-index: 2;
}
#cloud6
{
	position: absolute;
	height:105px;
	top:70px;
	left:628px;
	z-index: 2;
}
#cloud7
{
	position: absolute;
	height:105px;
	top:105px;
	left:828px;
	z-index: 2;
}
#cloud8
{
	position: absolute;
	height:105px;
	top:110px;
	left:1128px;
	z-index: 2;
}
#cloud9
{
	position: absolute;
	height:105px;
	top:70px;
	left:1428px;
	z-index: 2;
}
#cloud10
{
	position: absolute;
	height:105px;
	top:102px;
	left:1668px;
	z-index: 2;
}
#cloud11
{
	position: absolute;
	height:105px;
	top:100px;
	left:1928px;
	z-index: 2;
}
#cloud12
{
	position: absolute;
	height:105px;
	top:90px;
	left:2228px;
	z-index: 2;
}
#sewer1
{
	position: absolute;
	top:382px;
	left:-622px;
	z-index: 3;
}
#sewer2
{
	position: absolute;
	top:349px;
	left:-322px;
	z-index: 3;
}
#sewer3
{
	position: absolute;
	top:318px;
	left:-22px;
	z-index: 3;
}
#sewer4
{
	position: absolute;
	top:382px;
	left:1078px;
	z-index: 3;
}
#sewer5
{
	position: absolute;
	top:349px;
	left:1478px;
	z-index: 3;
}
#sewer6
{
	position: absolute;
	top:318px;
	left:1578px;
	z-index: 3;
}
#sewer7
{
	position: absolute;
	top:285px;
	left:700px;
	z-index: 3;
}


#monster2
{
	position: absolute;
	top:399px;
	left:250px;
	z-index: 3;
}
#mario
{
	position: absolute;
	top: 415px;
	left:550px;
	z-index: 3;
}
